## Test Report - Sauce Demo (auto)

Datum: 2025-11-15 15:41
Prostredi: Windows / Chrome

### Souhrn
- Pocet testu: 15
- PASS: 0
- FAIL: 
- BLOCKED: 0
- NEPROVEDENO: 14

### Poznamky
Tento report je generovan ze souboru .\testcases\web_test_cases.csv. Po uprave statusu spust znovu skript: .\\scripts\\update-test-report.ps1
